<mat-toolbar color="primary">
  <div class="icons">
    <i routerLink="" class="material-icons">
      home
    </i>
  </div>
  <div>
    <img class="logo" src="../../assets/images/chuck.png">
  </div>
  <div class="icons">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/login" *ngIf="!isAuth">Login</button>
      <button mat-menu-item routerLink="/signup" *ngIf="!isAuth">Sign Up</button>
      <button mat-menu-item routerLink="/profile" *ngIf="isAuth">My Profile</button>
      <button mat-menu-item (click)="logout()" *ngIf="isAuth">Logout</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
