mat-form-field {
  width: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwords {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 25px;
}
