<section class="card-list">
  <div *ngFor="let randomJoke of randomJokes | async" class="card-wrapper">
    <mat-card>
      <mat-card-content [innerHTML]="randomJoke.joke"></mat-card-content>
      <mat-card-actions *ngIf="(authState | async).authenticated">
        <i class="material-icons" *ngIf="!isFavourite(randomJoke.id)" (click)="favourite(true, randomJoke)">
          favorite_border
        </i>
        <i class="material-icons" *ngIf="isFavourite(randomJoke.id)" (click)="favourite(false, randomJoke)">
          favorite
        </i>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
