<div *ngIf="!(authState | async).authenticated" class="warning">
  You need to be logged in see your favourites!
</div>
<div class="toggle" *ngIf="(authState | async).authenticated">
  <mat-slide-toggle color="primary" [checked]="autoFavourite" (change)="changeAutoFavourite($event)">Auto Favourite</mat-slide-toggle>
</div>
<section class="card-list">
  <div *ngFor="let favouriteJoke of (favouriteJokesState | async).favourites">
    <mat-card>
      <mat-card-content [innerHTML]="favouriteJoke.joke"></mat-card-content>
      <mat-card-actions>
        <button type="button" mat-raised-button color="primary" (click)="removeFavourite(favouriteJoke)">Remove</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>

